{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
    {% for product in products  %}
        <p><a href="{{ path('product_details',{id:product.id}) }}">{{ product.name }} : {{ product.price }}</a></p>
        <p><button>Ajouter au panier</button></p>
    {% endfor %}
{% endblock %}
