.line-yellow {
  border: 1px solid rgb(129, 129, 129);
  width: 900px;
}
.title-basket {
  font-family: "Sansita Swashed", cursive;
  font-weight: 600;
  font-size: 20px;
  color: $color-primary;
}
.btn {
  text-decoration: none;
  border-radius: 30px;
  padding: 15px;
  width: 180px;
  background-color: $color-white;
  border: 1px solid $color-secondary;
  text-align: center;
  color: $color-primary;
  font-weight: bold;
  &:hover {
    background-color: $color-primary;
    border: 1px solid $color-primary;

    color: $color-white;
  }
}
.total {
  color: $color-secondary;
  font-size: 20px;
  font-weight: bold;
}
