{% extends 'base.html.twig' %}

{% block title %}Hello OrderController!{% endblock %}

{% block body %}

    <h1>Il y a eu une errreur avec votre commande</h1>

    <a href="{{ path("app_home") }}">Retour à l'accueil pour effctuer une vouvelle commande</a>
{% endblock %}
